modules = ["nodejs-18", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start DApp"

[[workflows.workflow]]
name = "Start DApp"
author = 42567965
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ganache --host 0.0.0.0 --port 7545 &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 5"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx hardhat run scripts/deploy.js --network ganache"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
